.title1{
    display: inline-block;
    background-color: bisque;
}

ul{
    vertical-align: top;
    display: inline-block;
    background-color: bisque;
    max-width: 15em
}
.title{
    
   list-style-type: none;
}
li{
    list-style-type: disc;
}
div{
   vertical-align: top;
    display: inline-block;
}