.Left{
    float: left;
height: 350px;
    width: 15em;
    background-color:bisque;
}

.NvBlock{
    padding-top: 0.1px;
    vertical-align: top;
    max-width: 15em

}
.RightTop{
padding-top: 0.1px;
background-color: aquamarine;
margin-bottom:0em;
}
.RightBottom{
    padding-top: 0.1px;
    background-color:rgb(189, 156, 107);
    margin-bottom:3em;
}
.Goom{
    clear: both;
}
.footer{
    margin-top:-2em;
    background-color: aquamarine;
    clear: both;
}
.pic{
    float: right;
    width: 70px;
}