div
{
    border-width: 1px;
    border-style: solid;
    border-color: #1C6EA4;
    border-radius: 0px 40px 0px 40px;
    padding: 10px;
}
.pic span{
    visibility: hidden;
    position: absolute;
    left: 160px;
}
 
.pic:hover span{
visibility: visible;
}

a[href$='arr']::before{
    content: url(arrow.png);
}
a[href$='wrd']::after{
    content: url(word.png);
}
a[href$='pdf']::before{
    content: url(pdf.png);
}
a[href$='pdf1']::after{
    content: url(pdf.png);
}
a[href$='zip']::after{
    content: url(zip.gif);
}